.slyp-chat-user-container{
  position: relative;
  padding:5px;

  &.active{
    border-left:5px solid #0AF200;
  }

  &:hover{
    cursor:pointer;
    background-color:#eee;
  }

  .user-email{
    position: absolute;
    top: 15px;
    left:57px;
  }
}

.user-icon{
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-size:20px;
  line-height:29px;
  width:30px;
  height:30px;
  border-radius: 20px;
  text-align:center;
  margin: 0 2px;

  &.add-user{
    position: absolute;
    left:0;
    line-height:26px;
    font-size:20px;
    background-color:$red;
    display:none;
    &:hover{
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
  }

  &.red{
    background-color:$red;
  } 
  &.green-light{
    background-color:#a7bd2f;
  }
  &.green-dark{
    background-color:#008b00;
  }
  &.blue-light{
    background-color:#aaeeee;
  } 
  &.blue-dark{
    background-color:#4169e1;
  } 
  &.orange{
    background-color:#ff8100;
  } 
  &.purple{
    background-color:#d63b71;
  } 
  &.violet{
    background-color:#9781c3;
  }
}

.message-container{
  overflow: auto;
}

.message {
  padding:20px 15px;
  margin-bottom:10px;
  position: relative;
  word-break: break-word;
  border-radius: 6px;
  width: 90%;

  &.owner{
    background-color: rgb(228, 243, 252);
    text-align: right;
    margin-left: 8px;

    &:before {
      content: '';
      border-style: solid;
      border-width: 10px 15px 10px 0;
      border-color: transparent rgb(228, 243, 252) transparent transparent;
      position: absolute;
      left: -8px;
      z-index: 1;
      top: 35%;
    }
  }

  &.other{
    background: whitesmoke;
    display: inline-block;

    &:before {
      content: '';
      border-style: solid;
      border-width: 10px 0 10px 15px;
      border-color: transparent transparent transparent whitesmoke;
      position: absolute;
      right: -8px;
      z-index: 1;
      top: 35%;
    }
  }
}

.container--timestamp {
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}
