.list-view-slyp{
  background-color:white;
  overflow: hidden;
  padding: 15px 25px;
  position:relative;

  &:hover{
    cursor:pointer;
    background-color: #eee;
  }

  &.active{
    background-color:rgb(245, 249, 255);
  }

  .row{
    margin-right:0;
  }

  .send-slyp{
    position: absolute;
    right: 7px;
    top: 8px;
    font-size:20px;
  }

  .slyp-heading{
    padding-right:0px;
    height:170px;
    padding-left: 30px;
    overflow: hidden;

    .slyp-title{
      font-size:110%;
      margin-bottom: 5px;
      font-weight: 600;

      &:hover{
        text-decoration: underline;
      }
    }

    .slyp-details{
      font-size:80%;
    }
  }

  .slyp-text{
    display:none;
    overflow: hidden;
    padding:10px 30px;
  }

  .slyp-media{
    height:170px;
    padding-left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

    img{
      flex-shrink:0;
      min-width:100%;
      max-height:100%;
    }
  }

  .slyp-summary{
    margin-top:15px;
  }
}

.slyp-chat-user-container{
  position: relative;
  padding:5px;

  &.active{
    border-left:5px solid #0AF200;
  }

  &:hover{
    cursor:pointer;
    background-color:#eee;
  }

  .user-email{
    position: absolute;
    top: 15px;
    left:57px;
  }
}

.user-icon{
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-size:20px;
  width:30px;
  height:30px;
  border-radius: 20px;
  text-align:center;
  padding-top:1px;

  &.red{
    background-color:#d63b3b;
  } 
  &.green-light{
    background-color:#a7bd2f;
  }
  &.green-dark{
    background-color:#008b00;
  }
  &.blue-light{
    background-color:#aaeeee;
  } 
  &.blue-dark{
    background-color:#4169e1;
  } 
  &.orange{
    background-color:#ff8100;
  } 
  &.purple{
    background-color:#d63b71;
  } 
  &.violet{
    background-color:#9781c3;
  }
}

.message-container{
  overflow: auto;
}

.message {
  padding:15px;
  margin-bottom:10px;
  position: relative;
  padding-top:20px;

  &.owner{
    background-color: rgb(228, 243, 252);
    margin-left:30px;
    text-align: right;
    float:right;

    .message-timestamp{
      right: 5px;
    }
  }

  &.other{
    background: whitesmoke;
    margin-right:30px;
    display: inline-block;

    .message-timestamp{
      left: 5px;
    }
  }

  .message-timestamp{
    position: absolute;
    font-size: 10px;
    top: 3px;
    font-weight:600;
    color: rgb(164, 164, 164);
  }
}


.card {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;
}
.card .title {
  line-height: 48px;
  font-size: 24px;
  font-weight: 300;
}
.card .content {
  padding: 20px;
  font-weight: 300;
  border-radius: 0 0 2px 2px;
}
.card p {
  margin: 0;
}
.card .action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
}
.card a {
  // color: #ffab40;
  margin-right: 20px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
}
.card .image {
  position: relative;
}
.card .image img {
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card .image .title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #FFF;
}