.list-view-slyp{
  background-color:white;
  overflow: hidden;
  padding: 10px 25px;
  position:relative;

  &:hover{
    cursor:pointer;
    background-color: #eee;
  }

  &.active{
    background-color:rgb(245, 249, 255);
  }

  .send-slyp{
    position: absolute;
    right: 7px;
    top: 8px;
    font-size:20px;
  }

  .slyp-heading{
    padding:15px;
    height:170px;
    padding-left: 30px;
    overflow: hidden;

    .slyp-title{
      font-size:110%;
      margin-bottom: 5px;
      font-weight: 600;

      &:hover{
        text-decoration: underline;
      }
    }

    .slyp-details{
      font-size:80%;
    }
  }

  .slyp-text{
    display:none;
    overflow: hidden;
    padding:10px 30px;
  }

  .slyp-media{
    height:170px;
    padding-left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

    img{
      flex-shrink:0;
      min-width:100%;
      max-height:100%;
    }
  }

  .slyp-summary{
    margin-top:15px;
  }
}

.slyp-chat-user-container{
  position: relative;
  padding:5px;

  &.active{
    img{
      box-shadow: 4px 4px 2px #888888;
    }
  }

  &:hover{
    cursor:pointer;
    background-color:#eee;
  }

  .icon-container{
    img{
      border-radius: 1px;
      width:45px;
    }
  }
  .user-email{
    position: absolute;
    top: 15px;
    left:57px;
  }
}