#main-logo{
  width: 65px;
  float: left;
  padding: 18px 10px 18px 18px;
  height: 56px;
}

#header{
  height: 56px;
}

#wrapper{
  margin: 0px;
}

.fixed-navbar{
  #wrapper {
    top: 56px
  }
}

.feed-left{
  padding-right:0;
  position: relative;
}

.feed-right{
  padding-left:0;
}

#logo{
  img{
    position: absolute;
    top: 11px;
    width: 20px;
    left: 20px;
  }
}

.navbar-form-custom{
  width:40%;

  .form-control {
    height: 40px;
    margin-top: 8px;
    border: #ddd 1px solid;
    padding-left: 10px;
    border-radius: 1px;
  }
}

.chat-container{
  position:relative;
}

.right-sidebar{
  height:100%;
  position: absolute;
  top: 0;
  right:0;
  width:58px;
  transition: width 1s;
  -moz-transition: width 1s; /* Firefox 4 */
  -webkit-transition: width 1s; /* Safari and Chrome */
  -o-transition: width 1s; /* Opera */
  -ms-transition: width 1s; /* IE9 (maybe) */

  &:hover{
    width:200px;
  }

  .js-chat-sidebar{
    background-color: white;
  }

  .sidebar-send{
    padding-left:60px;
    height:30px;

    i{
      font-size: 25px;
      /*color: green;*/
      font-weight: 800;
      position: absolute;
      left: 16px;
      top: 5px;
    }

    input{
      border:none;
      height:30px;
      margin-top:1px;

      &:focus{
        outline:none;
      }
    }
  }
}

.chat-left{
  padding:10px;
  padding-right:70px;

  .chat-input-section{
    margin-top:10px;
  }
}

.chat-command-center{
  margin-bottom:10px;
}