#main-logo{
  width: 65px;
  float: left;
  padding: 14px 20px;
  height: 56px;

  img{
    height:30px;
  }
}

#header{
  height: 56px;
  border-bottom: none;

  label.has-error{
    margin-top: 14px;
    font-size: 14px;
    color: #a94442;
  }
}

.content-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.fixed-navbar{
  #wrapper {
    top: 56px
  }
}

.feed-left{
  padding-right:0;
  position: relative;
}

.feed-right{
  padding-left:0;
}

.navbar-form-custom{
  width:40%;

  .form-control {
    height: 40px;
    margin-top: 8px;
    padding-left: 10px;
    border-radius: 1px;
  }
}

.chat-container{
  z-index:3;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,1);

  .row.chat-elements{
    margin:130px;
    background:white;
  }

  .chats{
    border-left: 1px solid #ddd;
  }

  .close-button{
    position: absolute;
    top: 15px;
    right: 15px;
    &:hover{
      cursor:pointer;
    }
  }
}

.chat-slyp-container{
  padding: 40px 0 0 20px;

  .js-card{
    padding: 0 20px;

    h4 {
      font-size: 28px;
    }
  }

  .image{
    img{
      max-width: 100%;
    }
  }

  .content{
    font-size: 20px;
    line-height: 28px;
    font-family: "adobe-caslon-pro",Times,Georgia,serif;
    padding: 25px 0;
  }
}

.right-sidebar{
  height:100%;
  position: absolute;
  top: 0;
  right:0;
  width:58px;

  .js-chat-sidebar{
    background-color: white;
  }

  .sidebar-send{
    padding-left:60px;

    i{
      font-size: 25px;
      position: absolute;
      left: 16px;
      top: 5px;
    }

    input{
      border:none;
      height:30px;
      margin-top:1px;

      &:focus{
        outline:none;
      }
    }
  }
}

.chat-left{
  padding:10px;
  padding-right:70px;

  .chat-input-section{
    margin-top:10px;
    margin-bottom:10px;

    input{
      border-width:2px;
      font-size: 14px;
      height: 40px;
      font-weight: 200;
    }
  }
}

.no-scroll{
  overflow-x: hidden; 
  overflow-y: auto;
}