/* <<<<<<<<<<<<<<< css for Chat integration >>>>>>>>>>>>>>*/

/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}


.container {
    width: 100%;
    background-image:url('/assets/i.jpg') }

.nano { background-image: url('/assets/f.jpg'); width: auto; height: 500px; }
.nano .content{ padding: 10px; }
.nano .pane { background: #888; }
.nano .slider { background: #111; }

/* <<<<<<<<<<<<<<< css for Chat integration >>>>>>>>>>>>>>*/

#logo{
  width: 65px;
}

#header{
  height: 56px;
}

#wrapper{
  margin: 0px;
}

.fixed-navbar #wrapper {
    top: 56px
}

.content-boxed {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.blog-article-box .panel-heading {
  padding: 30px 10px;
}

.blog-article-box i {
  display:none;
  font-size:55px;
  position: absolute;
  left: 26px;
  top: 37px;
  z-index:9999;
}

.blog-article-box i:hover{
  cursor:pointer;
}

.blog-article-box.slyp .panel-body{
  max-height:550px;
}

.hpanel{
  margin-bottom:0px;
}

.panel-body img{
  display: block;
  margin: auto;
  max-width:100%;
  max-height: 250px;
  margin-bottom: 40px;
}

.fixed-slyp{
  position: fixed;
  width:49%;
  top:56px;
}

#fullscreen{
  position:fixed;
  width: 100%;
  z-index:9999;
  top:0;
}

#fullscreen .slimScrollDiv{
  background-color:white;
}

.js-feed-left{
  position:relative;
}

#logo.light-version{
  margin-right:15px;
  background-color: white;
}

#logo img{
  position: absolute;
  top: 11px;
  width: 35px;
  left: 13px;
}

.interface-input{
  width: 400%;
}
