@import url(http://fonts.googleapis.com/css?family=Lato:400,300);

.truncate {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* THEME OVERRIDES*/
.text-muted {
  color: #aaa;
}