<script type="text/template" id="js-slyp-show-tmpl">
  <% if (engaged) { %>
    <div class="js-card engaged--slyp" attr-id="<%= id %>">
  <% } else { %>
    <div class="js-card unengaged--slyp" attr-id="<%= id %>">
  <% } %>
    <div class="action">
      <% if (users.length < 1) {%>
        <div class="slyp-user-icons-container no-users">
      <% }else{ %>
        <div class="slyp-user-icons-container">
      <% } %>
        <span class="user-icon add-user js-send-slyp">+</span>
        <span class="included-friends-icons">
          <% _.each(users.slice(0,3), function(user, index){%>
              <span class="user-icon <%- user.user_color %>" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="<%- user.email %>" data-slyp-chat-id="<%- user.slyp_chat_id %>">
                <%- user.user_letter %>                
                <% if(user.unread_messages > 0){ %>
                  <span class="icon-unread-messages"><%- user.unread_messages %></span>
                <% } %>
              </span>
          <% }) %>
        </span>
        <% if (users.length > 3 ) {%>
          <span class="text-muted">+ <%-users.length - 3 %> more</span>
        <% } %>
        <div class="excluded-friends-icons">
          <% _.each(excluded_friends, function(user){%>
            <span class="user-icon <%- user.user_color %>" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<%- user.email %>" data-email="<%- user.email %>" data-id="<%- user.id %>"><%- user.user_letter %></span>
          <% }) %>
        </div>
      </div>
      <div class="cta--hover-expand js-expand-slyp">
        <i class="fa fa-expand"></i>
      </div>
    </div>
    <div class="js-card-main">
      <h4 class="title"><%- title %></h4>
      <p class="text-muted" ><%= site_name %>
      <div class="image">
        <% if (video !== ''){ %>
          <iframe allowfullscreen="" src=<%= video%>></iframe>
        <% }else{ %>
          <img src="<%= image %>" />
        <% } %>
      </div>
      <% if(image === ""){ %>
        <div class="content">
          <%= summary || description || text %>
        </div>
      <% } %>
    </div>
    <div class="container--slyped-by">
      <p>slyped by:</p>
    </div>
  </div>
</script>

