<script type="text/template" id="js-slyp-show-tmpl">
  <div class="list-view-slyp">
    <i class="pe-7s-note send-slyp"></i>
    <div class="row">
      <div class="slyp-media col-sm-5">
        <% if (video_url !== ''){%>
          <iframe allowfullscreen="" src=<%= video_url %>></iframe>
        <% }else{ %>
          <img src="<%= top_image %>" />
        <% } %>
      </div>
      <div class="slyp-heading col-sm-7">
        <% if (engaged){%>
        <div class="slyp-title truncate"><a href=<%= url %> target="_blank"><%= title %></a></div>
        <% }else{ %>
          <div class="slyp-title truncate"><b><a href=<%= url %> target="_blank"><%= title %></a></b></div>
        <% } %>
        <div class="slyp-details row">
          <div class="col-sm-5">
            <a class="text-muted" href=<%= url %> target="_blank"><%= site_name %></a>
          </div>
          <div class="col-sm-5">
            <a class="text-muted" target="_blank" href=/topics/<%= topic.topic %>><%= topic.topic %></a>
          </div>
        </div>
        <div class="slyp-summary">
          <%= summary || description || text %>
        </div>
      </div>
    </div>
  </div>
</script>