<script type="text/template" id="js-slyp-show-tmpl">
  <div class="hpanel blog-article-box slyp">
    <i class="pe-7s-close"></i>
    <div class="panel-heading">
        <h4><%= title %></h4>
        <a href=<%= url %> ><%= site_name %></a>
        <div class="text-muted small">
            Created by: <span class="font-bold"><%= author %></span>
            <%= moment(date).format("MM/DD/YY hh:mm A") %>
        </div>
    </div>
    <div class="panel-body">
        <img src="<%= top_image %>" />
        <%= description %>
    </div>
  </div>
</script>