<script type="text/template" id="js-slyp-container-tmpl">
  <div class="container--post-box">
    <div class="post-box">
      <p class="title">Find a good article?</hp>
      <form role="search" id="js-add-new-slyp">
        <div class="form-group">
          <input type="textarea" placeholder="Paste URL" class="form-control" name="new_url" autocomplete="off">
          <input type="submit" class="btn form-post js-grok-it" value="Slyp">
        </div>
      </form>
    </div>
  </div>
</script>

