<script type="text/template" id="js-send-slyp-modal-tmpl">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form id="js-send-slyp-modal-form">
            <input type="text" id="js-send-slyp-input" class="form-control" placeholder="Send to email"/>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default js-close-modal" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary js-send-slyp">Send</button>
        </div>
      </div>
    </div>
  </div>
</script>