<script type='text/template' id="js-chat-template">
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-default">
			  <div class="panel-heading"> Lobby </div>
			  <div class="panel-body">
			    <div class="nano">
			      <div class="content">
							<div class="list-group" id="chatList"></div>
						</div>
			    </div>
			    <form>
			      <input class="form-control" type="text" id="chatInput"></input>
			    </form>
			    <p id="typingAlert"><%= alertMsg %></p>
			  </div>
			</div>
		</div>
	</div>
</script>