<section class="section">
	<div class="nomessages">

		<img src="../img/unnamed.jpg" id="noMessagesImage" />

		<div class="info">
			<h2>You are chatting with <span class="nickname-chat"></span>.</h2>
			<h5>Send them a message from the form below!</h5>
		</div>

	</div>

	<div class="chatscreen">

		<ul class="chats">
			<!-- The chat messages will go here -->
		</ul>

	</div>



	<form id="chatform">

		<textarea id="message" placeholder="Write something.."></textarea>
		<input type="submit" id="submit" value="SEND"/>

	</form>

</section>