<script type="text/template" id="js-chat-messages-tmpl">
  <div class="js-chat-messages-container chat-messages"></div>
  <div class="chat-input-section">
    <form id="js-chat-message-form" class="form-horizontal">
      <% if(items.length > 0){ %>
        <input type="text" id="js-chat-message-input" class="form-control" placeholder="leave a comment" required/>
      <% }else{ %>
        <input type="text" id="js-chat-message-input" class="form-control" placeholder="Start the conversation..." required/>
      <% } %>
      <p class="js-typing-alert"></p>
    </form>
  </div>
</script>