<script type="text/template" id="js-slypchat-show-tmpl">
  <div class="slyp-chat-user-container">
    <span class="icon-container">
      <img src="{{ 'theme/images/a4.jpg' | assetPath }}" />
    </span>
    <span class="user-email">

    </span>
    <span class="icon-status active"></span>
  </div>
  <form class="js-slyp-chat-message-form">
    <input class="form-control js-new-slyp-chat-message" type="text" placeholder="write something..."></input>
  </form>
  <p class="js-typing-alert"></p>
</script>