<script type="text/template" id="js-authenticate-tmpl">
  <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
  <div class="menu-toggler sidebar-toggler">
  </div>
  <!-- END SIDEBAR TOGGLER BUTTON -->
  <!-- BEGIN LOGO -->
  <div class="logo"></div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content" id="signin-page">
    <!-- BEGIN LOGIN FORM -->
      <h3 class="form-title">Sign In</h3>
      <div id="facebook-button-on-form"></div>
      <form class="login-form" action="index.html" method="post" novalidate="novalidate" id="js-auth-form">
      <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email">
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-success uppercase js-authenticate-submit">Login/Signup</button>
      </div>
    </form>
    <!-- END LOGIN FORM -->
  </div>
  <!-- END LOGIN -->
  <!-- END BODY -->
</script>