<script type="text/template" id="js-filter-box-tmpl">
  <div class="js-filter-bar iso-search-bar gray--body">
    <ul class="content-wrapper filter-list">
      <li class="u--pointer js-list filter-list-item filter_active">Recent</li>
      <li class="u--pointer js-list filter-list-item">Unread</li>
      <li class="u--pointer js-list filter-list-item">Starred</li>      
      <li class="filter-list-item js-search input-search">
        <input class="hidden-input js-input" placeholder="Search"/>
        <span class="clear-input js-clear u--pointer">clear</span>
      </li>
    </ul>
  </div>
</script>