<script src="{{ 'theme/vendor/jquery/dist/jquery.min.js' || assetPath }}"></script>
<script src="{{ 'theme/vendor/jquery-ui/jquery-ui.min.js' || assetPath }}"></script>
<script src="{{ 'theme/vendor/slimScroll/jquery.slimscroll.min.js' || assetPath }}"></script>
<script src="{{ 'theme/vendor/bootstrap/dist/js/bootstrap.min.js' || assetPath }}"></script>
<script src="{{ 'theme/vendor/metisMenu/dist/metisMenu.min.js' || assetPath }}"></script>
<script src="{{ 'theme/vendor/iCheck/icheck.min.js' || assetPath }}"></script>
<script src="{{ 'theme/vendor/sparkline/index.js' || assetPath }}"></script>

<!-- App scripts -->
<script src="{{ 'theme/scripts/homer.js' assetPath }}"></script>
<script data-main="{{ 'scripts/main.js' | assetPath }}" src="{{ 'scripts/vendor/requirejs/require.js' | assetPath }}"></script>