<script type="text/template" id="js-top-nav-tmpl">
  <div id="main-logo">
      <span>
        <img src="{{ 'images/slyp-logo-small.png' | assetPath }}" />
      </span>
  </div>
  <nav role="navigation">
      <div class="navbar-right">
          <ul class="nav navbar-nav no-borders">
              <li class="dropdown">
                  <a href="#" id="logout" class="js-logout">
                      <i class="pe-7s-upload pe-rotate-90"></i>
                  </a>
              </li>
          </ul>
      </div>
  </nav>
</script>