<script type="text/template" id="js-top-nav-tmpl">
  <div id="main-logo">
      <span>
        <img src="{{ 'images/slyp-logo-small.png' | assetPath }}" />
      </span>
  </div>
  <nav role="navigation">
      <div class="small-logo">
        <img src="{{ 'images/slyp-logo-small.png' | assetPath }}" />
      </div>
      <form role="search" class="navbar-form-custom" id="js-add-new-slyp">
        <div class="form-group">
          <input type="text" placeholder="Paste URL" class="form-control" name="new_url">
        </div>
      </form>
      <div class="navbar-right">
          <ul class="nav navbar-nav no-borders">
              <li class="dropdown">
                  <a href="#" id="logout" class="js-logout">
                      <i class="pe-7s-upload pe-rotate-90"></i>
                  </a>
              </li>
          </ul>
      </div>
  </nav>
</script>