<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% include './includes/header.html' %}
    {% include './layout/authenticate.html' %}
    {% include './layout/interface.html' %}
    {% include './layout/chat.html' %}
    {% include './layout/feed.html' %}
    {% include './includes/sideNav.html' %}
    {% include './includes/topNav.html' %}
    {% include './slyps/show.html' %}
    {% include './chats/chat_icon.html' %}
    {% include './chats/command_center.html' %}
    {% include './chats/message.html' %}
    {% include './chats/messages.html' %}
  </head>
  <body>
    <div id="facebook-login">
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
    </div>
    <div id="js-body">

    </div>
  </body>
</html>