<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% include './includes/header.html' %}
    {% include './layout/authenticate.html' %}
    {% include './layout/interface.html' %}
    {% include './layout/chat.html' %}
    {% include './includes/sideNav.html' %}
    {% include './includes/topNav.html' %}
    {% include './slyps/child_view.html' %}
    {% include './chats/sidebar.html' %}
    {% include './chats/chat_icon.html' %}
    {% include './chats/command_center.html' %}
    {% include './chats/message.html' %}
    {% include './chats/messages.html' %}
    {% include './chats/slyp_container.html' %}
    {% include './modals/send_slyp.html' %}
  </head>
  <body>
    <div id="js-header"></div>
    <div id="js-body"></div>
    <div id="js-footer"></div>
    <div id="modals"></div>
  </body>
</html>

